[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
streamlit = "*"
pandas = "*"
openpyxl = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
